body {
    font-family: Roboto;
    font-size: 12px
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    border-bottom: 2px solid #333;
}

td,
th {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
    border: none;
}

th {
    font-weight: bold;
    text-align: : center;
}

td {
    cursor: pointer;
    position: relative;
}

tr:hover td {
    background-color: #DDD
}

tr {
    border-bottom: 1px solid #DDD;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.modalback {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008f;
    cursor: pointer
}

td:first-child {
    border-left: 3px solid transparent
}

td.income {
    border-color: #059800!important;
}

td.outcome {
    border-color: #e4131e!important;
}

td.checked {
    border-color: #059800!important;
}

tr.checked td:first-child:before {
    content: '\2713';
    color: #059800;
    position: absolute;
    left: -2px;
    top: -2px;
    font-size: 24px;
    font-weight: bold;
}

.modal-content {
    max-width: 600px;
    width: 80%;
    margin: auto;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0px 0px 37px #0a0a0a;
    border-radius: 13px;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 35px;
    z-index: 900;
    max-height: 500px;
}

.modal-content .modalclose {
    position: absolute;
    top: 0px;
    right: 10px;
    font-weight: bold;
    font-size: 36px;
    font-family: Arial;
    cursor: pointer;
    z-index: 800;
}

.modal-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 1px solid #DDD;
    padding: 30px
}

.header {
    font-weight: bold;
    font-size: 36px;
    margin: 0
}

.prop_section {
    float: left;
    padding: 0 40px 0 0;
}

.prop_section.deleted {
    float: right!important;
}

button.deleted {
    color: #fff;
    background-color: rgb(194, 0, 0);
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
}

button.deleted:hover {
    opacity: 0.5
}